* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilos header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px grey;
  height: 80px;
  opacity: 0.98;
  top: 0;
  padding: 0 12.5%;
}

#logo-header {
  display: flex;
  align-items: center;
}

.logo-png {
  height: 42px;
}

.nombre-pizzeria {
  font-family: "komu-b", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-decoration: none;
  color: #232323;
  margin-left: 0.5rem;
}

header nav ul {
  display: flex;
  list-style: none;
}

.nav-menu.open {
  height: auto;
}

header li a {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #232323;
  padding: 0 1.35rem;
}

header li:hover {
  transform: scale(1.05, 1.05);
}

header li a:hover {
  font-weight: bold;
  color: #c4122f;
}

#reservas-header {
  border: #c4122f solid 2px;
  border-radius: 6px;
  padding: 0.25rem 1rem;
  margin-left: 1.35rem;
}

#toggle-header {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
}

#toggle-header:active {
  scale: 0.9;
}


/* Estilos main */

#banner-about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../image/banner-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
  width: 100%;
  min-height: 500px;
  padding: 0;
}

#banner-about h2 {
  font-family: "komu-b", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  text-align: center;
  color: white;
  animation: bounceInLeft;
  animation-duration: 1.5s;
}

.container {
  width: 100%;

}

.container .row {
  width: 77%;
  margin: auto;

}

.container .row .header {
  text-align: center;
  width: 60%;
  margin: auto;
}

.container .row .header h1 {
  font-family: "league-gothic", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  color: #232323;
  padding-top: 55px;
}

.container .row .header h1 span{
  font-family: "league-gothic", sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  color: #f5101a;
}

.container .row .header p {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #898b89;
  line-height: 1.5;
  margin-top: 15px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.content .card {
  flex: 1;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #FF6347;
  background-color: #e92727f3;
  border-radius: 30px;
  margin: 50px 20px;
}

.content .card img {
  border-radius: 30px;
  width: 100%;
  height: auto;
}

.content .card h4 {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

.content .card p {
  font-size: 15px;
  color: rgb(236, 208, 170);
  line-height: 1.5;
  padding: 10px;
}

/* Estilos footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f3f2ef;
  height: 175px;
  padding: 0 12.5%;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #202020;
}

.nav-footer h3 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: 1.17em;
  font-weight: bold;
  color: #202020;
}

.nav-footer ul {
  list-style: none;
}

.nav-seguinos {
  align-items: center;
}

#logo-footer {
  display: flex;
  align-items: center;
}

.nav-legales {
  padding-bottom: 3.21rem;
}

footer li {
  padding-top: 0.3rem;
}

footer span, footer li a {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

footer li a {
  text-decoration: none;
  color: #232323;
}

footer li a:hover {
  color: #c4122f;
}

.fa-brands,.fa-solid {
  font-size: 17px;
  color: #db1d2d;
}

.fa-brands:hover {
  transform: scale(1.3, 1.3);
}

.fa-solid {
  font-size: 14px;
}

.fa-location-dot {
  margin-left: 0.15rem;
}

.nav-contacto span {
  margin-left: 0.4rem;
}

.nav-contacto .telefono {
  margin-left: 0.60rem;
}


@media screen and (max-width:900px) {
  .content {
    flex-direction: column;
  }
}

/* MEDIAS TODO */

@media only screen and (max-width: 1200px) {
  header, footer, #banner-about {
    padding: 0 3%;
  }
  .container .row {
    width: 97.5%;
  }
}

@media only screen and (max-width: 900px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 0;
    background: #f3f2ef;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  header nav li {
    padding: 1rem 0;
  }

  #reservas-header {
    border: #c4122f solid 0px;
    padding: 0.25rem 3rem;
    margin: 0;
  }

  header li a:hover {
    background-color: #c4122f;
    border-radius: 6px;
    color: white;
    padding: 0.25rem 3rem;
  }

  #toggle-header {
    display: flex;
  }

  footer {
    height: 300px;
    padding: 2rem 3%;
  }

  #logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .content .card {
    margin: 50px 15px;
  }
}

@media only screen and (max-width: 450px) {
  footer {
    padding: 1.5rem 12.5%;
  }

  .nav-legales {
    width: 100%;
    padding-bottom: 0;
  }

  #banner-about {
    background-position: 70% 30%;
  }

  .container .row {
    width: 100%;
  }
}