body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 50;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px grey;
    height: 80px;
    opacity: 0.98;
    top: 0;
    padding: 0 12.5%;
    margin: 0;
}

#logo-header {
    display: flex;
    align-items: center;
}

.logo-png {
    height: 42px;
}

.nombre-pizzeria {
    font-family: "komu-b", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-decoration: none;
    color: #232323;
    margin-left: 0.5rem;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu.open {
    height: auto;
}

header li a {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #232323;
    padding: 0 1.35rem;
}

header li:hover {
    transform: scale(1.05, 1.05);
}

header li a:hover {
    font-weight: bold;
    color: #c4122f;
}

#reservas-header {
    border: #c4122f solid 2px;
    border-radius: 6px;
    padding: 0.25rem 1rem;
    margin-left: 1.35rem;
}

#toggle-header {
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
}

#toggle-header:active {
    scale: 0.9;
}

/*es mio*/
#banner-sucursales {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../image/banner-sucursales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 500px;
    padding: 0;
}

#banner-sucursales h1 {
    font-family: "komu-b", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    color: white;
    animation: bounceInLeft;
    animation-duration: 1.5s;
}

.contenedor1 {
    border: 2px solid red center;
    float: right;
    margin-right: 30rem;
    margin-top: 5rem;
}

.h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: crimson;
}

.h3 {
    font-family: 'Gloria Hallelujah', cursive;
}

.contenedor3 {
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 21%;
    margin-top: 0rem;
    padding-top: 3rem;
}

section p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.imagen2 {
    display: flex;
    float: left;
    width: 30%;
    height: auto;
    max-height: 40%;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    margin-left: 12.5%;
    padding-bottom: 1rem;
}

iframe {
    box-sizing: border-box;
}


.fa-solid {
    color: crimson;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f3f2ef;
    height: 175px;
    box-sizing: border-box;
    padding: 0 12.5%;
    margin: 0;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #202020;
    margin: 0;
    padding: 0;
}

.nav-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-contacto h3 {
    margin: 0;
}

.nav-seguinos {
    align-items: center;
}

.nav-seguinos h3 {
    margin: 0;
}

#logo-footer {
    display: flex;
    align-items: center;
}

.nav-legales {
    padding-bottom: 3.21rem;
}

.nav-legales h3 {
    margin: 0;
}

footer li {
    padding-top: 0.3rem;
}

footer li a {
    text-decoration: none;
    color: #232323;
}

footer li a:hover {
    color: #c4122f;
}

.fa-brands, .fa-solid {
    font-size: 17px;
    color: #db1d2d;
}

.fa-brands:hover {
    transform: scale(1.3, 1.3);
}

.fa-solid {
    font-size: 14px;
}

.fa-location-dot {
    margin-left: 0.15rem;
}

.nav-contacto span {
    margin-left: 0.4rem;
}

.nav-contacto .telefono {
    margin-left: 0.60rem;
}


@media only screen and (max-width: 1200px) {
    header, footer {
        padding: 0 3%;
    }
}

@media only screen and (max-width: 900px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 0;
        background: #f3f2ef;
        overflow: hidden;
        transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        padding: 0;
        margin: 0;
    }

    header nav li {
        padding: 1rem 0;
    }

    #reservas-header {
        border: #c4122f solid 0px;
        padding: 0.25rem 3rem;
        margin: 0;
    }

    header li a:hover {
        background-color: #c4122f;
        border-radius: 6px;
        color: white;
        padding: 0.25rem 3rem;
    }

    #toggle-header {
        display: flex;
    }

    footer {
        height: 300px;
        padding: 2rem 3%;
    }

    #logo-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    footer {
        padding: 1.5rem 12.5%;
    }

    .nav-legales {
        width: 100%;
        padding-bottom: 0;
    }

    #banner-sucursales {
        background-position: 73% 50%;
    }
}

@media only screen and (max-width: 1366px) {
    .contenedor3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 6rem;
        margin-top: 1, 5rem;
    }

    .imagen2 {
        width: 50%;
        height: auto;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        margin-left: 3%;
    }
}

@media only screen and (min-width: 415px) and (max-width: 750px) {
    .contenedor3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30%;
        margin-top: 1, 5rem;
    }

    .imagen2 {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        margin-left: 0rem;
    }
}

@media only screen and (min-width: 360px) and (max-width: 414px) {
    .contenedor3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 17%;
        margin-top: 1, 5rem;
    }

    .imagen2 {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        margin-left: 0rem;
    }
}